:root {
    --black: #0c0c0c;
    --white: #fff;
    --main-black: #111;
    --secondary-black: #222;
    --main-white: #f2f2f2;
    --secondary-white: #e2e2e2;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
}

body{
  background-color: var(--black);
  overflow: hidden;
}

.logologin{
  display: flex;
  justify-content: center;
  gap: 400px;
  align-items: center;
  height: 80vh;
}


.logo {
  width: 220px;
}

#login-form {
  width: 350px;
  height: 310px;
  padding: 20px;
  background-color: var(--main-black);
  border-radius: 5px;
  border: var(--secondary-black) solid 1px;
}

.details {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--secondary-black);
}

#email, #password {
  width: 95%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--main-black);
  font-size: large;
  caret-color: var(--main-white);
  color: var(--white)
}

#email::placeholder, #password::placeholder {
    color: var(--white);
    opacity: 0.3;
}

.submitbutton {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: var(--main-white);
  color: var(--black);
  cursor: pointer;
}

.submitbutton:hover {
  background-color: var(--secondary-white);
}

.forgot-password {
    margin-top: 20px;
    text-align: center;
}
.forgot-password a {
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
}

.create-account {
  margin-top: 20px;
  text-align: center;
}

.create-account a {
  color: var(--white);
  text-decoration: none;
  font-size:16px
}

.line{
    margin-top: 15px;
    width: 100%;
    height: 1px;
    background-color: var(--secondary-black);
    margin-right: auto;
    margin-left: auto;
}

.error-message {
    position: absolute;
    background-color: var(--main-black);
    width: 100px;
    height: 50px;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
    border-radius: 5px;
    display: grid;
    place-content: center;
    overflow: hidden;
    border: var(--secondary-black) solid 1px;
    color: var(--main-black);
    text-wrap: nowrap;
}

@keyframes showError {
    0% {
        transform: translateX(-50%) translateY(calc(-100% - .5px));
    }
    5% {
        transform: translateX(-50%) translateY(calc(60% - .5px));
        width: 100px;
    }
    10% {
        color: var(--main-black);
    }
    15% {
        transform: translateX(-50%) translateY(calc(60% - .5px));
        width: 450px;
        color: var(--white);
    }
    90% {
        transform: translateX(-50%) translateY(calc(60% - .5px));
        width: 450px;
        color: var(--white);
    }
    95% {
        color: var(--main-black);
    }
    100%{
        color: var(--main-black);
        width: 100px;
        transform: translateX(-50%) translateY(calc(-100% - .5px));
    }
}

@media only screen and (max-width: 768px) {
  #login-form {
    width: 80%;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 480px) {
  #login-form {
    width: 90%;
    margin: 10px auto;
  }
  .details input[type="text"], .details input[type="password"] {
    height: 30px;
    font-size: 14px;
  }
  button[type="submit"] {
    height: 30px;
    font-size: 14px;
  }
  .logo{
    display: none;
  }
}