:root {
    --black: #0c0c0c;
    --white: #fff;
    --main-black: #111;
    --secondary-black: #222;
    --main-white: #f2f2f2;
    --secondary-white: #e2e2e2;
    --main-red: #b00000;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Trebuchet MS", sans-serif;
}

header {
    background-color: var(--main-black);
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    border-bottom: var(--secondary-black) solid 1px;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.profile {
    width: 30px;
    margin-right: 20px;
    transition: transform 0.1s ease;
}

.profile:hover {
    transform: scale(1.15);
}

.nav-container {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-container li {
    padding-left: 20px;
    padding-right: 20px;
}

.nav-container li a {
    text-decoration: none;
}

.search {
    display: flex;
    align-items: center;
}

#plusadd {
    gap: 600px;
}

#toggle-input {
    display: none;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
    outline: none;
    font-size: 18px;
    background-color: var(--main-white);
}

#toggle-input::placeholder {
    color: var(--black);
    opacity: 0.5;
}

#toggle-button {
    cursor: pointer;
    border: none;
    background-color: var(--main-black);
    transition: transform 0.1s ease;
}

#toggle-button:hover {
    transform: scale(1.15);
}

#toggle-button img {
    width: 30px;
}

.nav-container li a img {
    width: 30px;
    transition: transform 0.1s ease;
}

.nav-container li a img:hover {
    transform: scale(1.15);
}

.logo {
    width: 35px;
    padding: 5px;
    padding-left: 20px;
}

.messaging {
    display: none;
    margin-left: 20px;
    background-color: var(--main-black);
    border: none;
}

.messaging img {
    width: 30px;
    transition: transform 0.1s ease;
}

.messaging img:hover {
    transform: scale(1.15);
}

body {
    background-color: var(--black);
}

.home {
    display: flex;
}

.feed {
    width: 100vw;
    display: grid;
    justify-content: center;
    padding: 50px;
    padding-top: 80px;
    gap: 50px;
}

.post {
    width: 520px;
    height: auto;
    background-color: var(--main-black);
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: var(--secondary-black) solid 1px;
}

.post-header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    gap: 20px;
}

.post-content img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 5px;
    margin-left: auto;
    margin-left: auto;
}

.post-user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-user img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.like {
    cursor: pointer;
    background-color: var(--main-black);
    border: none;
    margin-top: 7px;
}
#likepath {
    stroke: var(--main-white);
    stroke-width: 30px;
    fill: transparent;
    stroke-dasharray: 1600;
    stroke-dashoffset: 3200;
    transform-origin: center center;
}

.like svg {
    overflow: visible;
}

.messages {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 260px;
    overflow-y: scroll;
    background-color: var(--main-black);
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-right: var(--secondary-black) solid 1px;
    transition: all 0.3s ease-in;
}
.messages::-webkit-scrollbar {
    display: none;
}

.list-separator {
    width: 90%;
    height: 1px;
    background-color: var(--secondary-black);
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

.user-info {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 20px;
}

.rounded-image {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: var(--secondary-black) 2px solid;
}

.username {
    font-weight: bold;
    margin-right: 10px;
    color: var(--white);
}

.last-text {
    color: var(--secondary-white);
    opacity: 0.7;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@keyframes grow {
    from {
        width: 0;
    }
    to {
        width: 200px;
    }
}

@keyframes shrink {
    to {
        width: 0;
    }
    from {
        width: 200px;
    }
}

@keyframes like {
    0% {
        transform: scale(1);
    }
    50% {
        fill: transparent;
        transform: scale(0.8);
    }
    100% {
        stroke: var(--main-red);
        fill: var(--main-red);
        transform: scale(1);
    }
}

@keyframes dislike {
    0% {
        fill: var(--main-red);
        stroke: var(--main-red);
        transform: scale(1);
    }
    50% {
        fill: var(--main-red);
        stroke: var(--main-red);
        transform: scale(0.8);
    }
    100% {
        stroke: var(--main-white);
        fill: transparent;
        transform: scale(1);
    }
}

@media only screen and (max-width: 1250px) {
    .messages {
        left: -260px;
    }
    .messaging {
        display: block;
    }
    .logo {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .post {
        width: 70vw;
        height: auto;
    }
    .feed {
        padding: 5px;
        padding-top: 80px;
    }
}

@media only screen and (max-width: 450px) {
    /* .post {
        width: 100vw;
    } */
    .feed {
        padding: 5px;
        padding-top: 80px;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: var(--main-black);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--secondary-black);
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.close {
    color: var(--white);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: var(--secondary-white);
}