* {
  padding: 0;
  margin: 0;
}

body{
  background-color: #fff;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  width: 220px;
  margin-top: 9%;
  margin-left: 20%;
}

#login-form {
  width: 350px;
  margin: 8% auto auto 54.5%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #111;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}

.details {
  margin-bottom: 20px;
  border-bottom: 1px solid #111;
}

.details input[type="text"], .details input[type="password"] {
  width: 95%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
}

button[type="submit"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #010101;
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #222;
}

.forgot-password {
  margin-top: 20px;
  text-align: center;
  
  
}
.forgot-password a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
}

.create-account {
  margin-top: 20px;
  text-align: center;
}

.create-account a {
  color: #111;
  text-decoration: none;
  font-size:18px
}

.line{
  margin-top: 15px;
}
/* Responsive design */

@media only screen and (max-width: 768px) {
  #login-form {
    width: 80%;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 480px) {
  #login-form {
    width: 90%;
    margin: 10px auto;
  }
  .details input[type="text"], .details input[type="password"] {
    height: 30px;
    font-size: 14px;
  }
  button[type="submit"] {
    height: 30px;
    font-size: 14px;
  }
}